* {
    padding: 0;
    margin: 0;
    /* outline: 2px red solid; */

    box-sizing: border-box;
    /* 要素の幅と高さにpaddingとborderを含める */
}

body{
    background-color: #333333;
    font-family: 'Hiragino Sans';
    font-weight: bold;
    overflow-x: hidden;
}

.logo{
    position: fixed;

    top: 20px;
    left: 30px;
    z-index: 20;
}

.hm-box{
    position: fixed;
    top: 8px;
    right: 30px;

    transform: rotate(0deg);
    transition: all 0.2s;
    z-index: 30;
}

#hm{
    margin: 10px;
}

.hm-box.add{
    transform: rotate(-90deg);
    transition: all 0.2s;
  }

.nav {
    position: fixed;
    transform : translateX(200%);
    width: 100vw;
    height: 8%;

    padding: 25px;
    padding-right: 100px;
    display:table;
    justify-content: right;
    color: #ffffff;
    background-color: #555555;
    transition: transform .3s;
    z-index: 5;
  }
  
nav ul{
    top:0;
    bottom: 0;
    float: right;
}

nav li{
    list-style: none;
    padding: 0px 10px;
    display:table-cell
}

nav a{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav.add {
    transform: translateX(0);
}
  
.top{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.top h2{
    position: absolute;
    top: 8%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 300%;

  z-index: 2;
}

.toho{
  position: absolute;
  right: -12%;
  top: 0%;
  font-size: 400px;
  color:#444;
  font-weight: 800;
  writing-mode: vertical-rl;
  z-index: 1;
}

.asirai1{

  position: absolute;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height:90%;
  z-index: 3;
  opacity: 0.5;

}

a:hover{
    color: #ef6ffa;
    transition: 1s;
}

.kanshi1{
  position: absolute;
  top: 29.3%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  z-index: 3;

    animation-name:fadeUpAnime;
    animation-duration:1.0s;
    animation-fill-mode:forwards;
    opacity:0; 
}   
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
        transform: translateY(20px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

.kaeri1{
  position: absolute;
  top: 29.3%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  z-index: 2;

    animation-name:fadeUpAnime;
    animation-duration:1.0s;
    animation-fill-mode:forwards;
    animation-delay: 0.6s;
    opacity:0; 
}

@keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*     
    .yabu .siro .haru{
        animation-delay: 0.1s;
    }

    .san.sou.hana.kan.toki{
        animation-delay: 0.2s;
    }

    .ga.moku.soso.odoro.tori.waka.ura{
        animation-delay: 0.3s;
    }

    .ari.fuka.namida.kokoro.getu.san.tura.ka.hou{
        animation-delay: 0.4s;
    }
    .ie.syo.ata.ban.kin{
        animation-delay: 0.5s;
    }
    .haku.tou.kaku.sara.miji{
        animation-delay: 0.6s;
    }
    .subete.hossu.zaru.tae.sin{
        animation-delay: 2s;
    }

    .fadeUp {
        animation-name:fadeUpAnime;
        animation-duration:1.0s;
        animation-fill-mode:forwards;
        opacity: 0;
        }
        @keyframes fadeUpAnime{
          from {
            opacity: 0;
            transform: translateY(5px);
          }
        
          to {
            opacity: 1;
            transform: translateY(0);
          }
        } */

.readable{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.kanshi2{
    position: absolute;
    top:30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
  }

  .kaeri2{
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 2;
  }

  .kaeri2.move1{
      animation-name:fadeDownAnime;
      animation-duration:0.8s;
      animation-fill-mode:forwards;
      animation-delay: 0.4s;
  }
  
  @keyframes fadeDownAnime{
      from {
        opacity: 1;
        transform: translateY(0px);
      }
      to {
        opacity: 0;
        transform: translateY(0);
      }
    }

/* move1の動き */

  .toki.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.2s;
  }

  .kan.move1{
    transform: translateY(21%);
    transition-duration: 1.5s;
    transition-delay:1.2s;
  }

  .namida.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.2s;
  }

  .soso.move1{
    transform: translateY(21%);
    transition-duration: 1.5s;
    transition-delay:1.2s;
  }

  .waka.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.5s;
  }

  .ura.move1{
    transform: translateY(21%);
    transition-duration: 1.5s;
    transition-delay:1.5s;
  }

  .kokoro.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.5s;
  }

  .odoro.move1{
    transform: translateY(21%);
    transition-duration: 1.5s;
    transition-delay:1.5s;
  }

  .tura.move1{
    transform: translateY(42%);
    transition-duration: 1.5s;
    transition-delay:1.8s;
  }

  .san.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.8s;
  }

  .getu.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:1.8s;
  }

  .ata.move1{
    transform: translateY(42%);
    transition-duration: 1.5s;
    transition-delay:2.1s;
  }

  .ban.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:2.1s;
  }

  .kin.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:2.1s;
  }

  .hossu.move1{
    transform: translateY(63%);
    transition-duration: 1.5s;
    transition-delay:2.4s;
  }

  .zaru.move1{
    transform: translateY(21%);
    transition-duration: 1.5s;
    transition-delay:2.4s;
  }

  .tae.move1{
    transform: translateY(-21%);
    transition-duration: 1.5s;
    transition-delay:2.4s;
  }

  .sin.move1{
    transform: translateY(-63%);
    transition-duration: 1.5s;
    transition-delay:2.4s;
  }

  /* それまでの動きがリセットされた後実行されるため不十分 */
  /* .cls-4.move1{
    animation-name:fadeDownAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    animation-delay: 4s;
}

@keyframes fadeDownAnime{
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(0);
    }
  } */

  .hide{
    position: absolute;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
    opacity: 0;
  }

  .hide.move1{
    transition: opacity 0.7s;
    transition-delay: 4.2s;
    opacity: 1;  

  }

  .jikankanji{
    position: absolute;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
    opacity: 0;
}

.jikankanji.move1{
    animation-name:speedin;
    animation-duration:2.3s;
    animation-fill-mode:forwards;
    animation-delay: 4.2s;
}

@keyframes speedin{
    0% {
      opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.jikanmore{
    position: absolute;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
    opacity: 0;
}

.jikanmore.move1{
    animation-name:speedin2;
    animation-duration:1.6s;
    animation-fill-mode:forwards;
    animation-delay: 5.5s;
}

@keyframes speedin2{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.kakikudasi1{
    position: absolute;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
    opacity: 0;
}

.kakikudasi1.move1{
    animation-name:speedin3;
    animation-duration:0.9s;
    animation-fill-mode:forwards;
    animation-delay: 7.0s;
}

@keyframes speedin3{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
}

.trans{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.kakikudasi2{
    position: absolute;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
}

.kakikudasi2.move2{
    animation-name:fadeDownAnime;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    animation-delay: 0.3s;
}

.kakikudasi-wide{
    position: absolute;
    top: 21.5%;
    right: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    width: 47.8%;
    z-index: 3;
    opacity: 0;
}

.kakikudasi-wide.move2{
    animation-name:fadein1;
    animation-duration:1.7s;
    animation-delay: 1.0s;
    animation-fill-mode:forwards;
    opacity:0; 
}   
    @keyframes fadein1{
      0% {
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100% {
        opacity: 0.3;
      }
    }

.gendai{
    position: absolute;
    top: 20%;
    right: 3%;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    z-index: 3;
    opacity: 0;
}

.gendai.move2{
animation-name:fadein2;
animation-duration:1.3s;
animation-delay: 3s;
animation-fill-mode:forwards;
opacity:0; 
}   
@keyframes fadein2{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rethoric{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.kanshi3{
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  z-index: 3;
  opacity: 1;
}

.tuiku{
  position: absolute;
  right: 0;
  top: -10%;
  font-size: 400px;
  color:#666;
  font-weight: 800;
  transform: translateX(100%);
}

.tuiku.move3{
    transform: translateX(0);
    transition-duration: 1s;
    transition-delay: 1.6s;
}

.tuiku1.move3{
    fill: #fff;
    transition: 1s;
}

.tuiku2.move3{
    fill:#fff;
    transition: 1s;
    transition-delay: 0.5s;
}

.tuiku3.move3{
    fill:#fff;
    transition: 1s;
    transition-delay: 1s;
}

.tuiku-rect{
  position: absolute;
  top: 21%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 61%;
  z-index: 1;
}

.waku1{
    opacity: 0;
}

.waku1.move3{
    animation-name:speedin2;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-delay: 0s;
}

.waku2{
    opacity: 0;
}

.waku2.move3{
    animation-name:speedin2;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-delay: 0.5s;
}

.waku3{
    opacity: 0;
}

.waku3.move3{
    animation-name:speedin2;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

.in1.move3{
    fill:#ef6ffa;
    transition: 1s;
    transition-delay: 1.4s;
}

.in2.move3{
    fill:#ef6ffa;
    transition: 1s;
    transition-delay: 1.7s;
}

.in3.move3{
    fill:#ef6ffa;
    transition: 1s;
    transition-delay: 2.0s;
}

.in4.move3{
    fill:#ef6ffa;
    transition: 1s;
    transition-delay: 2.3s;
}

.in{
    position: absolute;
    left: 0;
    bottom: -10%;
    font-size: 400px;
    color:#ef6ffa;
    font-weight: 800;
    opacity: 0.4;
    transform: translateX(-100%);
  }
  
  .in.move3{
      transform: translateX(0);
      transition-duration: 1s;
      transition-delay: 2.5s;
  }

.auther{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.auther h2{
    text-align: center;
    color: #fff;
    font-size: 300%;
    padding:60px;
}

.auther img{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 55%;
}

.img2{
    display: none;
}

.auther-text{
    width: 24vw;
    position: absolute;
  right: 23vw;
  top:20vh;
  text-align: center;
}

.auther h3{
    color: #fff;
    font-size: 220%;
    display:inline-block;
    border-bottom: solid 2px #ef6ffa;
    margin: 5%;
}

.auther p{
    color: #fff;
    font-size: 138%;
    text-align: left;
    font-weight: 300;
}

footer{
    position: absolute;
    bottom:0;
    width: 100vw;
    height: 60px;
    border-top: solid 15px #555555;
    background-color: #555555;
    text-align: center;
    }


footer a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 30px;
    align-items: center;
    bottom:20px;
}

.asirai2{
    visibility:hidden;
}

.asirai-m{
    visibility:hidden;
}

.asirai-m2{
    visibility:hidden;
}







@media(max-width: 480px){

    *{
        padding: 0;
        margin: 0;
    
        box-sizing: border-box;
        /* outline: 2px red solid; */
        overflow-x: hidden;
    }

    *::-webkit-scrollbar{
        display: none;
    }

    .logo{
        position: fixed;
        top: 20px;
        left: 15px;
        z-index: 20;
    }

    .logo svg{
        width: 60%;
        height: 60%;
    }
    
    .hm-box{
        position: fixed;
        top: 3px;
        left: none;
        right: 10px;

        width: 40px;
        height: 40px;
        margin-top: 10px;
    
        transform: rotate(0deg);
        transition: all 0.2s;
        z-index: 30;
    }
    
    #hm{
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 28px;
        height: 28px;
    }
    
    .hm-box.add{
        transform: rotate(-90deg);
        transition: all 0.2s;
      }
    
    .nav {
        position: fixed;
        transform : translateX(200%);
        width:  50vw;
        height: 100vh;

        float: right;
    
        padding: 25px;
        padding-right: 10px;
        display:table;
        justify-content: right;
        color: #ffffff;
        background-color: #555555;
        transition: transform .3s;
        z-index: 5;
      }
      
    nav ul{
        top:0;
        bottom: 0;
        float: right;
    }
    
    nav li{
        list-style: none;
        padding: 25px 10px;
        display: flex;
    }
    
    nav a{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .nav.add {
        transform: translateX(100%);
    }


    .top{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .top h2{
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
        color: #fff;
        font-size: 180%;
    
      z-index: 2;
    }
    
    .toho{
      position: absolute;
      right: 50%;
      top: 40%;
      font-size: 200px;
      color:#444;
      font-weight: 800;
      writing-mode: vertical-rl;
      z-index: 1;
    }
    
    .asirai1{
    
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -8%;
      margin: auto;
      width: 116%;
      height:100%;
      z-index: 3;
      opacity: 0.5;
    }

    .top .asirai1{
    
        position: absolute;
        top: -10%;
        right: 0;
        bottom: 0;
        left: -8%;
        margin: auto;
        width: 116%;
        height:100%;
        z-index: 3;
        opacity: 0.5;
      }
    
    a:hover{
        color: #ef6ffa;
        transition: 1s;
    }
    
    .kanshi1{
      position: absolute;
      top: -10%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 280px;
      height: 140px;
      z-index: 3;
    
        animation-name:fadeUpAnime;
        animation-duration:1.0s;
        animation-fill-mode:forwards;
        opacity:0; 
    }   
        @keyframes fadeUpAnime{
          from {
            opacity: 0;
            transform: translateY(20px);
          }
        
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
    
    .kaeri1{
      position: absolute;
      top: -10%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 280px;
      height: 140px;
      z-index: 2;
    
        animation-name:fadeUpAnime;
        animation-duration:1.0s;
        animation-fill-mode:forwards;
        animation-delay: 0.6s;
        opacity:0; 
    }
    
    .readable{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .kanshi2{
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 280px;
        height: 140px;
        z-index: 3;
      }
    
      .kaeri2{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 280px;
        height:140px;
        z-index: 2;
      }
    
      .kaeri2.move1{
          animation-name:fadeDownAnime;
          animation-duration:0.8s;
          animation-fill-mode:forwards;
          animation-delay: 0.4s;
      }
      
      @keyframes fadeDownAnime{
          from {
            opacity: 1;
            transform: translateY(0px);
          }
          to {
            opacity: 0;
            transform: translateY(0);
          }
        }
    
    /* move1の動き */
    
      .toki.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.2s;
      }
    
      .kan.move1{
        transform: translateY(21%);
        transition-duration: 1.5s;
        transition-delay:1.2s;
      }
    
      .namida.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.2s;
      }
    
      .soso.move1{
        transform: translateY(21%);
        transition-duration: 1.5s;
        transition-delay:1.2s;
      }
    
      .waka.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.5s;
      }
    
      .ura.move1{
        transform: translateY(21%);
        transition-duration: 1.5s;
        transition-delay:1.5s;
      }
    
      .kokoro.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.5s;
      }
    
      .odoro.move1{
        transform: translateY(21%);
        transition-duration: 1.5s;
        transition-delay:1.5s;
      }
    
      .tura.move1{
        transform: translateY(42%);
        transition-duration: 1.5s;
        transition-delay:1.8s;
      }
    
      .san.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.8s;
      }
    
      .getu.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:1.8s;
      }
    
      .ata.move1{
        transform: translateY(42%);
        transition-duration: 1.5s;
        transition-delay:2.1s;
      }
    
      .ban.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:2.1s;
      }
    
      .kin.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:2.1s;
      }
    
      .hossu.move1{
        transform: translateY(63%);
        transition-duration: 1.5s;
        transition-delay:2.4s;
      }
    
      .zaru.move1{
        transform: translateY(21%);
        transition-duration: 1.5s;
        transition-delay:2.4s;
      }
    
      .tae.move1{
        transform: translateY(-21%);
        transition-duration: 1.5s;
        transition-delay:2.4s;
      }
    
      .sin.move1{
        transform: translateY(-63%);
        transition-duration: 1.5s;
        transition-delay:2.4s;
      }
    
      .hide{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 280px;
        height: 180px;
        z-index: 3;
        opacity: 0;
      }
    
      .hide.move1{
        transition: opacity 0.7s;
        transition-delay: 4.2s;
        opacity: 1;  
    
      }
    
      .jikankanji{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 330px;
        height:205px;
        z-index: 3;
        opacity: 0;
    }

    .asirai-m{
        visibility: visible;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -8%;
      margin: auto;
      width: 116%;
      height:100%;
      z-index: 3;
      opacity: 0;
    }

    .readable .asirai1{
        display: none;
    }

    .asirai-m.move1{
        animation-name:fade-as;
        animation-duration:0.9s;
        animation-fill-mode:forwards;
        animation-delay: 4.2s;
    }

    .asirai-m2{
        visibility: visible;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -8%;
      margin: auto;
      width: 116%;
      height:100%;
      z-index: 3;
      opacity: 0.5;
    }

    .asirai-m2.move1{
        animation-name:fade-as1;
        animation-duration:0.8s;
        animation-fill-mode:forwards;
        animation-delay: 4.0s;
    }
    
    @keyframes fade-as{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 0.5;
        }
    }

    @keyframes fade-as1{
        0% {
          opacity: 0.5;
        }
        100% {
          opacity: 0;
        }
    }
    
    .jikankanji.move1{
        animation-name:speedin;
        animation-duration:2.3s;
        animation-fill-mode:forwards;
        animation-delay: 4.2s;
    }
    
    @keyframes speedin{
        0% {
          opacity: 0;
        }
        60%{
            opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }
    
    .jikanmore{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 350px;
        height:220px;
        z-index: 3;
        opacity: 0;
    }
    
    .jikanmore.move1{
        animation-name:speedin2;
        animation-duration:1.6s;
        animation-fill-mode:forwards;
        animation-delay: 5.5s;
    }
    
    @keyframes speedin2{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    
    .kakikudasi1{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 350px;
        height: 220px;
        z-index: 3;
        opacity: 0;
    }
    
    .kakikudasi1.move1{
        animation-name:speedin3;
        animation-duration:0.9s;
        animation-fill-mode:forwards;
        animation-delay: 7.0s;
    }
    
    @keyframes speedin3{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 0.8;
        }
    }
    
    .trans{
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .trans .asirai1{
        display: none;
    }

    .asirai2{
        visibility: visible;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -8%;
      margin: auto;
      width: 116%;
      height:100%;
      z-index: 3;
      opacity: 0.5;
    }
    
    .kakikudasi2{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 350px;
        height: 220px;
        z-index: 3;
    }

    .kakikudasi2.move2{
        animation-name:fadeDownAnime;
        animation-duration:0.8s;
        animation-fill-mode:forwards;
        animation-delay: 0.3s;
    }
    
    .kakikudasi-wide{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 5%;
        margin: auto;
        width: 314px;
        height: 230px;
        z-index: 3;
        opacity: 0;
    }
    
    .kakikudasi-wide.move2{
        animation-name:fadein1;
        animation-duration:1.7s;
        animation-delay: 1.0s;
        animation-fill-mode:forwards;
        opacity:0; 
    }   
        @keyframes fadein1{
          0% {
            opacity: 0;
          }
          50%{
            opacity: 1;
          }
          100% {
            opacity: 0.3;
          }
        }
    
    .gendai{
        position: absolute;
        top: 0;
        right: 5%;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 330px;
        height: 240px;
        z-index: 3;
        opacity: 0;
    }
    
    .gendai.move2{
    animation-name:fadein2;
    animation-duration:1.3s;
    animation-delay: 3s;
    animation-fill-mode:forwards;
    opacity:0; 
    }   
    @keyframes fadein2{
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    .rethoric{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .kanshi3{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 280px;
      height: 140px;
      z-index: 3;
      opacity: 1;
    }
    
    .tuiku{
      position: absolute;
      right: 0;
      top: 10%;
      font-size: 130px;
      color:#666;
      font-weight: 800;
      transform: translateX(100%);
    }
    
    .tuiku.move3{
        transform: translateX(0);
        transition-duration: 1s;
        transition-delay: 1.6s;
    }
    
    .tuiku1.move3{
        fill: #fff;
        transition: 1s;
    }
    
    .tuiku2.move3{
        fill:#fff;
        transition: 1s;
        transition-delay: 0.5s;
    }
    
    .tuiku3.move3{
        fill:#fff;
        transition: 1s;
        transition-delay: 1s;
    }
    
    .tuiku-rect{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 337px;
      height: 195px;
      z-index: 1;
    }
    
    .waku1{
        opacity: 0;
    }
    
    .waku1.move3{
        animation-name:speedin2;
        animation-duration:1s;
        animation-fill-mode:forwards;
        animation-delay: 0s;
    }
    
    .waku2{
        opacity: 0;
    }
    
    .waku2.move3{
        animation-name:speedin2;
        animation-duration:1s;
        animation-fill-mode:forwards;
        animation-delay: 0.5s;
    }
    
    .waku3{
        opacity: 0;
    }
    
    .waku3.move3{
        animation-name:speedin2;
        animation-duration:1s;
        animation-fill-mode:forwards;
        animation-delay: 1s;
    }
    
    .in1.move3{
        fill:#ef6ffa;
        transition: 1s;
        transition-delay: 1.4s;
    }
    
    .in2.move3{
        fill:#ef6ffa;
        transition: 1s;
        transition-delay: 1.7s;
    }
    
    .in3.move3{
        fill:#ef6ffa;
        transition: 1s;
        transition-delay: 2.0s;
    }
    
    .in4.move3{
        fill:#ef6ffa;
        transition: 1s;
        transition-delay: 2.3s;
    }
    
    .in{
        position: absolute;
        left: 0;
        bottom: 10%;
        font-size: 150px;
        color:#ef6ffa;
        font-weight: 800;
        opacity: 0.4;
        transform: translateX(-100%);
      }
      
      .in.move3{
          transform: translateX(0);
          transition-duration: 1s;
          transition-delay: 2.5s;
      }
    
    .auther{
        width: 100vw;
        height: 100vh;
        position: relative;
        text-align: center;
    }
    
    .auther h2{
        text-align: center;
        color: #fff;
        font-size: 150%;
        padding:5%;
    }
    
    .auther img{
  position: absolute;
  top:-34%;
  right: 0;
  bottom: none;
  left: 0;
  margin: auto;
  width: 80%;
    }

    .img1{
        display: none;
    }

    .img2{
        display: flex;
    }
    
    .auther-text{
        position: absolute;
        top: none;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        width: 80vw;
        height: 39vh;
      right: none;
      top:none;
      margin-top: 35vh;
      text-align: center;
    }
    
    .auther h3{
        color: #fff;
        font-size: 3vh;
        display:inline-block;
        border-bottom: solid 2px #ef6ffa;
        margin: 1vh;
    }
    
    .auther p{
        color: #fff;
        font-size: 1.9vh;
        text-align: left
    }
    
    footer{
        position: absolute;
        bottom:0;
        width: 100vw;
        height: 40px;
        border-top: solid 5px #555555;
        background-color: #555555;
        text-align: center;
        }
    
    
    footer a{
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        margin: 5px;
        align-items: center;
        bottom:15px;
    }
}